@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5eec3 !important;
    font-family: 'Fira Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.col-sm{
    display: flex;
    justify-content: center;
}
.food-wrapper{
    margin-top: 20px;
}

.search-wrapper{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.card-hover {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.79);
}

.card-hover:hover .card-hover__content {
    background-color: #fedab1;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover:hover .card-hover__link {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content {
    width: 100%;
    text-align: center;
    background-color: #dda15e;
    padding: 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content::before,
.card-hover__content::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content::before {
    top: -80px;
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content::after {
    bottom: -80px;
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title span {
    /* color: #2d7f0b; */
}

.card-hover__text {
    font-size: 0.75rem;
}

.card-hover__link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #606c38;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
    border: none;
    border-radius: 50px;
}

.card-hover__link:hover svg {
    transform: translateX(4px);   
}

.card-hover__link svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra span {
    color: #2d7f0b;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.input-group{
    margin-top: 20px;
}

.input-group input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    border-color: #dda15e;
    color: #dda15e;
    font-size: large;
    line-height: normal;
}

::placeholder {
    color: #dda15e;
    opacity: 1;
  }

.input-group button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #dda15e;
    color: #fff;
}

.input-group button:hover{
    background-color: #dda15e;
    border-color: #dda15e;
}

.input-group button:active{
    background-color: #dda15e;
    border-color: #dda15e;
}

.input-group button i {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.search-wrapper h1{
    color: #dda15e;
}

.modal-container{
    height: 100%;
}

.meal-image-container {
    position: relative;
    /* display: inline-block; */
    
}

.meal-image-container img {
    filter: brightness(0.5);
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 50vh;
}

.meal-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    z-index: 1;
    text-align: center;
}

.meal-category{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(146, 145, 145);
    margin: 0;
    z-index: 1;
    text-align: center;
    font-weight: 500;
}

.cook-time{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    margin: 0;
    z-index: 1;
    padding: 8px;
    background-color: #dda15e;
}

.meal-details{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.meal-details .instructions{
    width: 400px;
}

.meal-details h3{
    color: #dda15e;
}

ul li, .instructions p{
    text-decoration: none;
    color : #9a9a97;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 1199.98px) { 
    .search-wrapper{
        min-width: 60%;
    }
}

@media (max-width: 991.98px) { 
    .search-wrapper{
        min-width: 100%;
    }
}

@media (max-width: 783px) { 
    .meal-details{
        display: flex;
        flex-direction: column;
    }

    .meal-details .instructions{
        width: 100%;
    }
}

.notFound{
    color: #50504f;
    font-weight: 800;
    font-size: 26px;
}